.roboto-mono-custom {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.urbanist-custom {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
.category_content {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section,
div {
  padding: 10px;
}

.albums {
  position: relative;
  z-index: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/src/public/fondo2.webp") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  margin-bottom: 10vw;
  margin: 0;
}

.see_more {
  background-color: lightcoral;
  width: 90%;
}

/* SLIDER ######################## */
.imageshow-container {
  display: flex;
  justify-content: center;
  max-width: 35vw;
  position: relative;
  margin: auto;
  max-height: 35vw;
  min-height: 35vw;
  min-width: 35vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
}
/* Hide the images by default  */
.imageClass {
  display: none;
}
.imageClass img {
  max-width: 30vw;
  max-height: 30vw;
  min-width: 30vw;
  min-height: 30vw;
  border-radius: 24px;
}
.imageClass p {
  margin: 0;
  color: #ffffff;
}
.name {
  font-size: 500;
  font-size: 2vw;
  margin: 0;
}

/* Adding fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/* Defining the dot styles */
.dot {
  cursor: pointer;
  height: 2px;
  width: 15px;
  margin: 0 2px;
  background-color: #1e9dfc;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Setting a different style for hovering and active */
.active,
.dot:hover {
  height: 4px;
  background-color: #fca41e;
}
.imageClass p {
  margin: 2vw;
}
/* ############ SECcion conciertos y tal */
.info_cat {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin: 0;
  color: #ffffff;
  justify-content: left;
}
.fila {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 700px) {
  .fila {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .fila {
    grid-template-columns: repeat(1, 1fr);
  }
}
.concert {
  background-color: transparent;
  display: flex;
}
.title_info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  h2 {
    margin-left: 8vw;
  }
  a {
    margin-right: 8vw;
    color: #6f7c86;
    font-style: bold;
  }
  a:hover {
    text-decoration: underline 2px;
    color: #6f7c86;
    font-style: bold;
  }
}

.day {
  background-color: #414b52;
  width: 6vw;
  height: 6vw;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.month {
  margin: 0;
}
.number {
  margin: 0;
  font-size: 3vw;
  font-style: bold;
  font-weight: 500;
}
.info_event {
  padding-top: 0;
  display: flex;
  flex-direction: column;
}
h2.city {
  margin: 0;
  font-size: 2vw;
  font-weight: 500;
}
.info_event p {
  margin: 0;
  font-size: 1.5vw;
  font-weight: 400;
}
.place {
  color: #6f7c86;
  font-style: bold;
  font-weight: 700;
}
.prensa {
  position: relative;
  z-index: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/src/public/fondo2.webp") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 10vw;
  margin: 0;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 100%;
  justify-content: center;
}
.a-nav {
  z-index: 2;
}
.category_nav {
  position: sticky;
  top: 0;
  z-index: 20;
  max-height: 1vw;
  a {
    margin: 1vw;
  }
  :hover {
    color: #fca41e;
  }
}
/* ############# prensa */
.noticias {
  box-sizing: border-box;
  margin-top: 20vw;
  margin-bottom: 20vw;
  background-color: #ffffff;
  border-top: #000000 1vw solid;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  bold {
    font-style: bold;
    font-weight: 600;
  }
  a {
    color: #fca41e;
  }
  a:hover {
    text-decoration: underline 2px;
    color: #fca41e;
    cursor: pointer;
  }
}

.articulo {
  width: 40vw;
  border-bottom: #000000 1px solid;
  padding: 1vw;
  align-items: center;
  border-right: #000000 1px solid;
  padding: 1vw;
  margin: 4vw;
  p {
    margin-left: 1vw;
    margin-right: 0;
  }
}

.cabecera_art {
  position: relative;
  text-align: left;
  justify-content: left;
  padding: 0;
}

.titulo_art {
  margin-top: 0;
  font-weight: 500;
  font-size: 3vw;
  width: 94%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.img_art {
  height: 10vw;
  width: 100%;
  object-fit: cover;
  filter: blur(1px);
}
#anecdotas {

  h2 {
    color: #fca41e;
  }
  h3 {
    color: #ffffff;
    border-bottom: 2px white solid;
  }
  p {
    color: #ffffff;
  }
  img {
    width: 10vw;
    height: 10vw;
    margin-left: 4vw;
    border-radius: 2vw;
  }
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
