/* Desaparecer las flechas en pantallas pequeñas
porque suelen ser táctiles: */
#navigation {
  z-index: 50;
  position: absolute;
  display: flex;
  top: 10rem;
  left: -8rem;
  justify-content: space-between;
  width: 200%; /* Asegúrate de que el contenedor se extienda a lo largo de todo el ancho */
  @media (max-width: 890px) {
    display: none;
  }
  img {
    height: 4rem;
    width: 4rem;
  }
  &:hover {
    cursor: pointer;
  }
  .button-prev {
    transform: rotate(180deg);
  }
}
.name {
  font-size: 500;
  font-size: 1.5rem;
  margin: 0;
}

.concert {
  width: 19rem;
  height: 7rem;
  background-color: transparent;
  display: flex;
}

.day {
  background-color: #414b52;
  width: 5rem;
  height: 5rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.month {
  margin: 0;
}
.number {
  margin: 0;
  font-style: bold;
  font-weight: 500;
}
.info_event {
  padding-top: 0;
  display: flex;
  flex-direction: column;
}
h2.city {
  margin: 0;
  font-weight: 500;
}
.info_event p {
  margin: 0;
  font-weight: 400;
}
.place {
  color: #6f7c86;
  font-style: bold;
  font-weight: 700;
}

.category_nav {
  position: sticky;
  top: 0;
  z-index: 20;
  max-height: 1vw;
  overflow: hidden;
  a {
    margin: 1vw;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  :hover {
    color: #fca41e;
  }
}


.articulo {
  border-bottom: #fff 1px solid;
  border-left: #fff 1px solid;
  align-items: center;
  width: 25rem;
}

.cabecera_art {
  margin-top: 2rem;
  position: relative;
  text-align: left;
  justify-content: left;
  padding: 1rem;

  .titulo_art {
    margin-top: 0;
    font-weight: 500;
    font-size: 2rem;
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  img {
    height: 9rem;
    width: 110%;
    object-fit: cover;
    filter: blur(1px);
    border-radius: 24px;
  }
  @media (max-width: 500px) {
    img {
      display: none;
    }
    .titulo_art {
      font-size: 1.2rem;
      color: #fca41e;
      text-decoration: underline;
      padding-bottom: 2rem;
    }
  }
}

