
/* Esto es porque la rotación de video nos 
crea un overflow x que no queremos */

iframe {
  width: 42%;
  position: relative;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  @media (max-width: 974px) {
    width: 80%;
  }
  &:hover {
    transform: scale(1.05) rotate(15deg);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: orange;
    transition: width 0.3s;
  }

  &:hover::before {
    width: 100%;
    transform: rotate(15deg);
  }
}

.content_relacionado {
  width: 100%;
  border-top: 2px solid #fca41e;
  padding-top: 2rem;
  align-items: center;
  display: flex;
  justify-content: center;
  overflow-x: auto;
  direction: ltr;
  padding-left: 2rem;
  padding-right: 2rem;
  @media (max-width: 974px) {
    justify-content: left;
  }
  h2 {
    width: 100%;
    border-bottom: 1px solid #fca41e;
  }
  h2:hover {
    color: #fca41e;
    cursor: pointer;
  }
  img {
    width: 100%;
    height: auto;
    border-radius: 2rem;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  iframe {
    width: 100%;
  }
  .relacionado_item {
    height: 60vh;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    min-width: 300px;
    width: 300px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    padding: 1rem;
    gap: 2rem;
  }
}
.div_svg {
  display: flex;
  justify-content: center;
  gap: 3rem;
  img {
    height: 10vh;
    width: 10vh;
    transition: 1s;
  }
  img:hover {
    height: 11vh;
    width: 11vh;
    cursor: pointer;
    transition: 1s;
    aspect-ratio: 1/1;
  }
}
.tit_rel {
  color: #fca41e;
  bottom: 0;
  margin-bottom: -1vh;
  line-height: 1.3;
}
