.presentation-content {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/src/public/fondo2.webp") no-repeat center center fixed;
  padding-bottom: 0;
  h1 {
    text-align: center;
    width: 100%;
    position: sticky;
    bottom: 0;
    padding: 0;
    margin-bottom: -1vh;
    margin-top: 15vh;
    line-height: 0.7;
    border-bottom: 1rem solid;
    display: inline-block;
  }
}
.text {
  color: #fff;
  padding: 5rem;
}
