.presentation-content {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/src/public/fondo2.webp") no-repeat center center fixed;
  padding-bottom: 0;
  h1 {
    text-align: center;
    width: 100%;
    position: sticky;
    bottom: 0;
    padding: 0;
    margin-bottom: -1vh;
    margin-top: 15vh;
    line-height: 0.7;
    border-bottom: 1rem solid;
    display: inline-block;
  }
}
.text {
  color: #fff;
  padding: 5rem;
}
span {
  transition: 1s;
  color: deeppink;
  a {
    transition: 1s;
    color: deeppink;
  }
  &:hover {
    transition: 1s;
    font-size: 2rem;
  }
}

.content_pres{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  @media (max-width: 1020px) {
      display: block;
      .scroll-vertical{
        margin-left: 5rem;
      }
  }
}
.scroll-vertical{
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  max-height: 65vh;
  max-width: 60vh;
  overflow-y: scroll;
  margin-right: 4rem;
  img{
    width: 90%;
    height: auto;
    border-radius: 2rem;
    margin-top: 2rem;
  }
}
.scroll-vertical::-webkit-scrollbar{
  display: none;
}