@tailwind base;
@tailwind components;
@tailwind utilities;

/* ESTE STYLE CSS AFECTA A TODOS LOS HTML MENOS A LINKS
SON CSS GENERICOS PARA TODA LA PÁGINA, COSAS QUE TIENEN QUE
CUMPLIR EN TODA LA WEB... FONDO, COLOR LETRAS, FUENTES,ETC */

/* he usado sass para hacerlo más intuitivo el css,
ya que te permite poner css a cosas que estan dentro de la primera */

/* EFECTO nav y footer se hacen grande al cargar la pantalla */
nav,
footer {
  background-color: black;
  color: white;
  transition: padding 0.8s ease-in-out;
}
body.loaded nav {
  padding: 2rem;
}
body.loaded footer {
  padding: 2rem;
  padding-bottom: 0;
}
footer {
  padding-bottom: 0;
}
/* DISEÑO enlaces por defecto */
a {
  text-decoration: none;
  &:hover {
    color: #fca41e;
    transition: color 0.3s ease-in-out;
    text-decoration: underline;
  }
}

#title:hover:after {
  transition: 0.8s;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 3vw solid transparent;
  border-bottom: 3vw solid transparent;
  border-left: 6vw solid #ffff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  color: #fca41e;
  font-size: 10vw;
  font-style: bold;
  font-family: "Urbanist", sans-serif;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.body_main {
  background: linear-gradient(rgba(76, 128, 167, 0.3), rgba(76, 128, 167, 0.3)),
    url("public/fondo-1.webp");
  background-size: cover;
  background-position: center;
}
.main_content {
  background: linear-gradient(rgba(76, 128, 167, 0.3), rgba(76, 128, 167, 0.3)),
    url("public/principal.webp");
  background-size: cover;
  background-position: top;
  transition: clip-path 1.2s ease-in-out;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  &:hover {
    transition: clip-path 1.2s ease-in-out;
    clip-path: polygon(20% 20%, 80% 20%, 80% 80%, 20% 80%);
  }
}

@media (max-width: 600px) {
  .a-nav {
    display: none;
  }

  .sandwich-menu {
    display: block;
  }
}
#copyright {
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}
button.sandwich-menu {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 500;
  padding: 2rem;
  box-sizing: border-box;
  text-align: center;
  padding-top: 5rem;
  font-weight: 600;
  font-style: bold;
  font-size: 2rem;
  transition: 0.8s;
}

.mobile-menu a {
  color: black;
  display: block;
  margin-bottom: 1rem;
}
/* ### ### #### ### ### ### ### #### ### ### ### ### #### ### ### 
### ### #### ### ### ### ### #### ### ### ### ### #### ### ### 
### ### #### ### ### ### ### #### ### ### ### ### #### ### ###
 ### ### #### ### ### ### ### #### ### ### ### ### #### ### ###  */
/*                        CLASES SWIPER        
se pueden ver con el inspector y a partir 
de ahí las puedes editar a tu gusto */
.swiper {
  margin-top: 2rem;
  width: 16rem;
  height: 22rem;
  margin-bottom: 4rem;
}
.swiper-pagination {
  .swiper-pagination-bullet {
    background-color: white;
    opacity: 0.8;
    transition: transform 0.3s ease-in-out;
  }
  .swiper-pagination-bullet-active {
    background-color: #fca41e;
    transform: scale(2);
    transition: transform 0.3s ease-in-out;
  }
}
/* Importante  aspect-ratio: 1/1; object-fit: cover; para que no se deformen las imagenes
al hacer la pantalla más pequeña */
.swiper-slide {
  border-radius: 2rem;
  text-align: center;
  font-size: 18px;
  background: #fff;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.swiper-slide img {
  border-radius: 2rem;
  display: block;
  object-fit: cover;
  max-height: 16rem;
}
/* PARALLAX */
.parallax {
  /* Crear el efecto parallax */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Imagen de fondo y gradiente */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/src/public/fondo2.webp");
}
.parallax2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/src/public/fondo3.webp") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* Desaparecer las flechas en pantallas pequeñas
porque suelen ser táctiles: */
#navigation {
  z-index: 50;
  position: absolute;
  display: flex;
  top: 10rem;
  left: -8rem;
  justify-content: space-between;
  width: 200%; /* Asegúrate de que el contenedor se extienda a lo largo de todo el ancho */
  @media (max-width: 890px) {
    display: none;
  }
  img {
    height: 4rem;
    width: 4rem;
  }
  &:hover {
    cursor: pointer;
  }
  .button-prev {
    transform: rotate(180deg);
  }
}
/*                      FIN SWIPER                              */
/* ### ### #### ### ### ### ### #### ### ### ### ### #### ### ### 
### ### #### ### ### ### ### #### ### ### ### ### #### ### ### 
### ### #### ### ### ### ### #### ### ### ### ### #### ### ###
 ### ### #### ### ### ### ### #### ### ### ### ### #### ### ###  */
/* Estilos links */
#links_naranjas {
  a {
    color: aqua;
  }
  h2 {
    font-size: 1.5rem;
    font-family: "Urbanist", sans-serif;
  }
  img {
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: scale(1.2);
      transition: transform 0.3s ease-in-out;
    }
  }
}

/* span e imagenes de PRESENTATION.html  */
.presentation {
  span {
    display: inline-block;
    transition: 1s;
    color: deeppink;
    a {
      transition: 1s;
      color: deeppink;
    }
    &:hover {
      cursor: pointer;
      transition: 1s;
      font-size: 1.2rem;
    }
  }

  .scroll-vertical {
    img {
      width: 90%;
      height: auto;
      border-radius: 2rem;
      margin-top: 2rem;
    }
  }
}

.srcset {
  img {
    width: 20rem;
    object-fit: cover;
  }
}
/* canvas */
#canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  pointer-events: none;
  height: 21rem;
}
.box {
  border: 1px solid #ffff;
  margin-left: 5vw;
  margin-right: 5vw;
  text-align: center;
  height: 2vw;
}
/* Definición de la animación 'spin' */
@keyframes spin {
  0% {
    transform: rotate(0deg); /* Inicia la rotación desde 0 grados */
  }
  100% {
    transform: rotate(360deg); /* Termina la rotación en 360 grados */
  }
}

/* Definición de la animación 'ping' */
@keyframes ping {
  0% {
    transform: scale(1); /* Inicia la escala en 1 (tamaño normal) */
    opacity: 1; /* Inicia la opacidad en 1 (completamente visible) */
  }
  75%,
  100% {
    transform: scale(2); /* Termina la escala en 2 (doble del tamaño normal) */
    opacity: 0; /* Termina la opacidad en 0 (completamente transparente) */
  }
}

/* Definición de la animación 'bounce' */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0); /* Inicia y termina la traslación en 0 (posición original) */
  }
  50% {
    transform: translateY(-20px); /* A la mitad de la animación, traslada el elemento 20px hacia arriba */
  }
}

/* Definición de las clases para las animaciones */
.animacion_ejercicio {
  /* Definición de la clase 'img-size' */
  .img-size {
    width: 20%; /* Establece el ancho de la imagen al 20% del contenedor */
    height: auto; /* Establece la altura de la imagen automáticamente para mantener las proporciones */
  }

  /* Definición de la clase 'animacion-spin' */
  .animacion-spin {
    animation: spin 4s linear infinite; /* Aplica la animación 'spin' con una duración de 4 segundos, una función de tiempo lineal y una repetición infinita */
  }

  /* Definición de la clase 'animacion-ping' */
  .animacion-ping {
    animation: ping 3s cubic-bezier(0, 0, 0.2, 1) infinite; /* Aplica la animación 'ping' con una duración de 3 segundos, una función de tiempo definida por una curva Bézier cúbica y una repetición infinita */
  }

  /* Definición de la clase 'animacion-bounce' */
  .animacion-bounce {
    animation: bounce 2s ease infinite; /* Aplica la animación 'bounce' con una duración de 2 segundos, una función de tiempo 'ease' (aceleración suave) y una repetición infinita */
  }
}