@tailwind base;
@tailwind components;
@tailwind utilities;

/* ESTE STYLE CSS AFECTA A TODOS LOS HTML MENOS A LINKS
SON CSS GENERICOS PARA TODA LA PÁGINA, COSAS QUE TIENEN QUE
CUMPLIR EN TODA LA WEB... FONDO, COLOR LETRAS, FUENTES,ETC */

/* he usado sass para hacerlo más intuitivo el css,
ya que te permite poner css a cosas que estan dentro de la primera */
.roboto-mono-custom {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.urbanist-custom {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* EFECTO nav y footer se hacen grande al cargar la pantalla */
nav,
footer {
  background-color: black;
  color: white;
  transition: padding 0.8s ease-in-out;
}
body.loaded nav {
  padding: 2rem;
}
body.loaded footer {
  padding: 2rem;
  padding-bottom: 0;
}
footer {
  padding-bottom: 0;
}
/* DISEÑO enlaces por defecto */
a {
  color: white;
  text-decoration: none;
  &:hover{
    color: #fca41e;
    transition: color 0.3s ease-in-out;
    text-decoration: underline;
  }
}
#title:hover:after {
  transition: 0.8s;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 3vw solid transparent;
  border-bottom: 3vw solid transparent;
  border-left: 6vw solid #ffff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  color: #fca41e;
  font-size: 10vw;
  font-style: bold;
  font-family: "Urbanist", sans-serif;
  position: relative;
  display: inline-block;
  z-index: 2;
}

.main_content {
  background: linear-gradient(rgba(76, 128, 167, 0.3), rgba(76, 128, 167, 0.3)),
    url("public/fondo-1.webp");
  background-size: cover;
  background-position: center;
}


@media (max-width: 600px) {
  .a-nav {
    display: none;
  }

  .sandwich-menu {
    display: block;
  }
}
#copyright {
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}
button.sandwich-menu {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 500;
  padding: 2rem;
  box-sizing: border-box;
  text-align: center;
  padding-top: 5rem;
  font-weight: 600;
  font-style: bold;
  font-size: 2rem;
  transition: 0.8s;
}

.mobile-menu a {
  color: black;
  display: block;
  margin-bottom: 1rem;
}
#hueco {
  position: relative;
  z-index: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/src/public/fondo2.webp") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 30vw;
  margin: 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selected {
  color: #fca41e;
}
#main_body {
  height: 100vh;
}
#copyright {
  margin-bottom: 2rem;
}

.blurry-div {
  position: sticky;
  top: 0;
  padding-top: 0;
  width: 100%;
  height: 5rem; /* Ajusta esto a la altura que desees */
  background: linear-gradient(
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  ); /* Gradiente de negro 100% opaco a transparente */
  z-index: 1;
}
.blurry-div2 {
  position: sticky;
  bottom: 0;
  padding-bottom: 0;
  width: 100%;
  height: 5rem; /* Ajusta esto a la altura que desees */
  background: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  ); /* Gradiente de negro 100% opaco a transparente */
  z-index: 1;
}
/* #1E9DFC azul
#BD8D46 marron
#FCA41E naranja
#4C80A7 azul
#7D6A4D marron ++
#414B52 gris */